.tabs-box {
  width: 100%;
  padding-top: 10px;
  .tabs-menu {
    // position: relative;
    // width: 100%;
    .tags-active {
      background: linear-gradient(90deg, #04246a 0%, #1f2d4d 100%) !important;
      .el-tag__close {
        color: var(--el-color-active-primary) !important;
      }
      color: var(--el-color-active-primary) !important;
    }
    :deep(.el-tag) {
      margin-left: 12px;
      background: var(--el-color-primary-light-9);
    }
    .el-dropdown {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      .more-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        cursor: pointer;
        border-left: 1px solid var(--el-border-color-light);
        transition: all 0.3s;
        &:hover {
          background-color: var(--el-color-info-light-9);
        }
        .iconfont {
          font-size: 12.5px;
        }
      }
    }
  }
}
