.loading-next {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2024;
}

.simple-loading-spin {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  perspective: 1000px;
  transform: rotate(45deg);
}

.simple-loading-spin .loading-spin-spinOne .loader {
  position: relative;
  width: 100%;
  height: 100%;
}

.simple-loading-spin .loading-spin-spinOne .loader:before, .simple-loading-spin .loading-spin-spinOne .loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform-origin: center;
}

.simple-loading-spin .loading-spin-spinOne .loader:before {
  color: #d9d9d9;
  transform: rotateX(70deg);
}

.simple-loading-spin .loading-spin-spinOne .loader:after {
  color: #0063d6;
  animation-delay: 0.4s;
  transform: rotateY(70deg);
}

@keyframes spin {
  0%, 100% {
    box-shadow: .2em 0 0 0 currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0 currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0 -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
