@charset "UTF-8";
.hand {
  cursor: pointer;
}

.FlexBox, .l-t-center {
  display: flex;
}

.s-flex-wrap {
  flex-wrap: wrap;
}

.s-flex-nowrap {
  flex-wrap: nowrap;
}

.s-col-center, .FlexBox, .l-t-center {
  align-items: center;
}

.s-col-top {
  align-items: flex-start;
}

.s-col-bottom {
  align-items: flex-end;
}

.s-row-center, .l-t-center {
  justify-content: center;
}

.s-row-left {
  justify-content: flex-start;
}

.s-row-right {
  justify-content: flex-end;
}

.s-row-between {
  justify-content: space-between;
}

.s-row-around {
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* flex */
.flex, .s-row-around, .flx-center, .flx-justify-between, .flx-between, .flx-align-center {
  display: flex;
}

.flx-center {
  align-items: center;
  justify-content: center;
}

.flx-justify-between {
  align-items: center;
  justify-content: space-between;
}

.flx-between {
  justify-content: space-between;
}

.flx-align-center {
  align-items: center;
}

/* position */
.posR {
  position: relative;
}

/* clearfix */
.clearfix::after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}

/* 文字单行省略号 */
.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自动換行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}

.fade-transform-enter-from {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(30px);
}

/* breadcrumb-transform */
.breadcrumb-enter-active {
  transition: all 0.2s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(10px);
}

/* nprogress */
#nprogress .bar {
  background: var(--el-color-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--el-color-primary) !important;
  border-left-color: var(--el-color-primary) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary) !important;
}

/* 外边距、内边距全局样式 */
.mt0 {
  margin-top: 0px !important;
}

.rounded-0 {
  border-radius: 0px !important;
}

.gap-0 {
  gap: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.left-0 {
  left: 0px !important;
}

.left-0 {
  left: 0px !important;
}

.right {
  right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.mt1 {
  margin-top: 1px !important;
}

.rounded-1 {
  border-radius: 1px !important;
}

.gap-1 {
  gap: 1px !important;
}

.mr1 {
  margin-right: 1px !important;
}

.left-1 {
  left: 1px !important;
}

.left-1 {
  left: 1px !important;
}

.right {
  right: 1px !important;
}

.mb1 {
  margin-bottom: 1px !important;
}

.ml1 {
  margin-left: 1px !important;
}

.pt1 {
  padding-top: 1px !important;
}

.pr1 {
  padding-right: 1px !important;
}

.pb1 {
  padding-bottom: 1px !important;
}

.pl1 {
  padding-left: 1px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.rounded-2 {
  border-radius: 2px !important;
}

.gap-2 {
  gap: 2px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.left-2 {
  left: 2px !important;
}

.left-2 {
  left: 2px !important;
}

.right {
  right: 2px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.ml2 {
  margin-left: 2px !important;
}

.pt2 {
  padding-top: 2px !important;
}

.pr2 {
  padding-right: 2px !important;
}

.pb2 {
  padding-bottom: 2px !important;
}

.pl2 {
  padding-left: 2px !important;
}

.mt3 {
  margin-top: 3px !important;
}

.rounded-3 {
  border-radius: 3px !important;
}

.gap-3 {
  gap: 3px !important;
}

.mr3 {
  margin-right: 3px !important;
}

.left-3 {
  left: 3px !important;
}

.left-3 {
  left: 3px !important;
}

.right {
  right: 3px !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.ml3 {
  margin-left: 3px !important;
}

.pt3 {
  padding-top: 3px !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pb3 {
  padding-bottom: 3px !important;
}

.pl3 {
  padding-left: 3px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.rounded-4 {
  border-radius: 4px !important;
}

.gap-4 {
  gap: 4px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.left-4 {
  left: 4px !important;
}

.left-4 {
  left: 4px !important;
}

.right {
  right: 4px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.pt4 {
  padding-top: 4px !important;
}

.pr4 {
  padding-right: 4px !important;
}

.pb4 {
  padding-bottom: 4px !important;
}

.pl4 {
  padding-left: 4px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.rounded-5 {
  border-radius: 5px !important;
}

.gap-5 {
  gap: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.left-5 {
  left: 5px !important;
}

.left-5 {
  left: 5px !important;
}

.right {
  right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.rounded-6 {
  border-radius: 6px !important;
}

.gap-6 {
  gap: 6px !important;
}

.mr6 {
  margin-right: 6px !important;
}

.left-6 {
  left: 6px !important;
}

.left-6 {
  left: 6px !important;
}

.right {
  right: 6px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}

.ml6 {
  margin-left: 6px !important;
}

.pt6 {
  padding-top: 6px !important;
}

.pr6 {
  padding-right: 6px !important;
}

.pb6 {
  padding-bottom: 6px !important;
}

.pl6 {
  padding-left: 6px !important;
}

.mt7 {
  margin-top: 7px !important;
}

.rounded-7 {
  border-radius: 7px !important;
}

.gap-7 {
  gap: 7px !important;
}

.mr7 {
  margin-right: 7px !important;
}

.left-7 {
  left: 7px !important;
}

.left-7 {
  left: 7px !important;
}

.right {
  right: 7px !important;
}

.mb7 {
  margin-bottom: 7px !important;
}

.ml7 {
  margin-left: 7px !important;
}

.pt7 {
  padding-top: 7px !important;
}

.pr7 {
  padding-right: 7px !important;
}

.pb7 {
  padding-bottom: 7px !important;
}

.pl7 {
  padding-left: 7px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.rounded-8 {
  border-radius: 8px !important;
}

.gap-8 {
  gap: 8px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.left-8 {
  left: 8px !important;
}

.left-8 {
  left: 8px !important;
}

.right {
  right: 8px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.mt9 {
  margin-top: 9px !important;
}

.rounded-9 {
  border-radius: 9px !important;
}

.gap-9 {
  gap: 9px !important;
}

.mr9 {
  margin-right: 9px !important;
}

.left-9 {
  left: 9px !important;
}

.left-9 {
  left: 9px !important;
}

.right {
  right: 9px !important;
}

.mb9 {
  margin-bottom: 9px !important;
}

.ml9 {
  margin-left: 9px !important;
}

.pt9 {
  padding-top: 9px !important;
}

.pr9 {
  padding-right: 9px !important;
}

.pb9 {
  padding-bottom: 9px !important;
}

.pl9 {
  padding-left: 9px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.gap-10 {
  gap: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.left-10 {
  left: 10px !important;
}

.left-10 {
  left: 10px !important;
}

.right {
  right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.mt11 {
  margin-top: 11px !important;
}

.rounded-11 {
  border-radius: 11px !important;
}

.gap-11 {
  gap: 11px !important;
}

.mr11 {
  margin-right: 11px !important;
}

.left-11 {
  left: 11px !important;
}

.left-11 {
  left: 11px !important;
}

.right {
  right: 11px !important;
}

.mb11 {
  margin-bottom: 11px !important;
}

.ml11 {
  margin-left: 11px !important;
}

.pt11 {
  padding-top: 11px !important;
}

.pr11 {
  padding-right: 11px !important;
}

.pb11 {
  padding-bottom: 11px !important;
}

.pl11 {
  padding-left: 11px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.rounded-12 {
  border-radius: 12px !important;
}

.gap-12 {
  gap: 12px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.left-12 {
  left: 12px !important;
}

.left-12 {
  left: 12px !important;
}

.right {
  right: 12px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pr12 {
  padding-right: 12px !important;
}

.pb12 {
  padding-bottom: 12px !important;
}

.pl12 {
  padding-left: 12px !important;
}

.mt13 {
  margin-top: 13px !important;
}

.rounded-13 {
  border-radius: 13px !important;
}

.gap-13 {
  gap: 13px !important;
}

.mr13 {
  margin-right: 13px !important;
}

.left-13 {
  left: 13px !important;
}

.left-13 {
  left: 13px !important;
}

.right {
  right: 13px !important;
}

.mb13 {
  margin-bottom: 13px !important;
}

.ml13 {
  margin-left: 13px !important;
}

.pt13 {
  padding-top: 13px !important;
}

.pr13 {
  padding-right: 13px !important;
}

.pb13 {
  padding-bottom: 13px !important;
}

.pl13 {
  padding-left: 13px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.rounded-14 {
  border-radius: 14px !important;
}

.gap-14 {
  gap: 14px !important;
}

.mr14 {
  margin-right: 14px !important;
}

.left-14 {
  left: 14px !important;
}

.left-14 {
  left: 14px !important;
}

.right {
  right: 14px !important;
}

.mb14 {
  margin-bottom: 14px !important;
}

.ml14 {
  margin-left: 14px !important;
}

.pt14 {
  padding-top: 14px !important;
}

.pr14 {
  padding-right: 14px !important;
}

.pb14 {
  padding-bottom: 14px !important;
}

.pl14 {
  padding-left: 14px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.rounded-15 {
  border-radius: 15px !important;
}

.gap-15 {
  gap: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.left-15 {
  left: 15px !important;
}

.left-15 {
  left: 15px !important;
}

.right {
  right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.rounded-16 {
  border-radius: 16px !important;
}

.gap-16 {
  gap: 16px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.left-16 {
  left: 16px !important;
}

.left-16 {
  left: 16px !important;
}

.right {
  right: 16px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pr16 {
  padding-right: 16px !important;
}

.pb16 {
  padding-bottom: 16px !important;
}

.pl16 {
  padding-left: 16px !important;
}

.mt17 {
  margin-top: 17px !important;
}

.rounded-17 {
  border-radius: 17px !important;
}

.gap-17 {
  gap: 17px !important;
}

.mr17 {
  margin-right: 17px !important;
}

.left-17 {
  left: 17px !important;
}

.left-17 {
  left: 17px !important;
}

.right {
  right: 17px !important;
}

.mb17 {
  margin-bottom: 17px !important;
}

.ml17 {
  margin-left: 17px !important;
}

.pt17 {
  padding-top: 17px !important;
}

.pr17 {
  padding-right: 17px !important;
}

.pb17 {
  padding-bottom: 17px !important;
}

.pl17 {
  padding-left: 17px !important;
}

.mt18 {
  margin-top: 18px !important;
}

.rounded-18 {
  border-radius: 18px !important;
}

.gap-18 {
  gap: 18px !important;
}

.mr18 {
  margin-right: 18px !important;
}

.left-18 {
  left: 18px !important;
}

.left-18 {
  left: 18px !important;
}

.right {
  right: 18px !important;
}

.mb18 {
  margin-bottom: 18px !important;
}

.ml18 {
  margin-left: 18px !important;
}

.pt18 {
  padding-top: 18px !important;
}

.pr18 {
  padding-right: 18px !important;
}

.pb18 {
  padding-bottom: 18px !important;
}

.pl18 {
  padding-left: 18px !important;
}

.mt19 {
  margin-top: 19px !important;
}

.rounded-19 {
  border-radius: 19px !important;
}

.gap-19 {
  gap: 19px !important;
}

.mr19 {
  margin-right: 19px !important;
}

.left-19 {
  left: 19px !important;
}

.left-19 {
  left: 19px !important;
}

.right {
  right: 19px !important;
}

.mb19 {
  margin-bottom: 19px !important;
}

.ml19 {
  margin-left: 19px !important;
}

.pt19 {
  padding-top: 19px !important;
}

.pr19 {
  padding-right: 19px !important;
}

.pb19 {
  padding-bottom: 19px !important;
}

.pl19 {
  padding-left: 19px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.rounded-20 {
  border-radius: 20px !important;
}

.gap-20 {
  gap: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.left-20 {
  left: 20px !important;
}

.left-20 {
  left: 20px !important;
}

.right {
  right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.mt21 {
  margin-top: 21px !important;
}

.rounded-21 {
  border-radius: 21px !important;
}

.gap-21 {
  gap: 21px !important;
}

.mr21 {
  margin-right: 21px !important;
}

.left-21 {
  left: 21px !important;
}

.left-21 {
  left: 21px !important;
}

.right {
  right: 21px !important;
}

.mb21 {
  margin-bottom: 21px !important;
}

.ml21 {
  margin-left: 21px !important;
}

.pt21 {
  padding-top: 21px !important;
}

.pr21 {
  padding-right: 21px !important;
}

.pb21 {
  padding-bottom: 21px !important;
}

.pl21 {
  padding-left: 21px !important;
}

.mt22 {
  margin-top: 22px !important;
}

.rounded-22 {
  border-radius: 22px !important;
}

.gap-22 {
  gap: 22px !important;
}

.mr22 {
  margin-right: 22px !important;
}

.left-22 {
  left: 22px !important;
}

.left-22 {
  left: 22px !important;
}

.right {
  right: 22px !important;
}

.mb22 {
  margin-bottom: 22px !important;
}

.ml22 {
  margin-left: 22px !important;
}

.pt22 {
  padding-top: 22px !important;
}

.pr22 {
  padding-right: 22px !important;
}

.pb22 {
  padding-bottom: 22px !important;
}

.pl22 {
  padding-left: 22px !important;
}

.mt23 {
  margin-top: 23px !important;
}

.rounded-23 {
  border-radius: 23px !important;
}

.gap-23 {
  gap: 23px !important;
}

.mr23 {
  margin-right: 23px !important;
}

.left-23 {
  left: 23px !important;
}

.left-23 {
  left: 23px !important;
}

.right {
  right: 23px !important;
}

.mb23 {
  margin-bottom: 23px !important;
}

.ml23 {
  margin-left: 23px !important;
}

.pt23 {
  padding-top: 23px !important;
}

.pr23 {
  padding-right: 23px !important;
}

.pb23 {
  padding-bottom: 23px !important;
}

.pl23 {
  padding-left: 23px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.rounded-24 {
  border-radius: 24px !important;
}

.gap-24 {
  gap: 24px !important;
}

.mr24 {
  margin-right: 24px !important;
}

.left-24 {
  left: 24px !important;
}

.left-24 {
  left: 24px !important;
}

.right {
  right: 24px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.ml24 {
  margin-left: 24px !important;
}

.pt24 {
  padding-top: 24px !important;
}

.pr24 {
  padding-right: 24px !important;
}

.pb24 {
  padding-bottom: 24px !important;
}

.pl24 {
  padding-left: 24px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.rounded-25 {
  border-radius: 25px !important;
}

.gap-25 {
  gap: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.left-25 {
  left: 25px !important;
}

.left-25 {
  left: 25px !important;
}

.right {
  right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.mt26 {
  margin-top: 26px !important;
}

.rounded-26 {
  border-radius: 26px !important;
}

.gap-26 {
  gap: 26px !important;
}

.mr26 {
  margin-right: 26px !important;
}

.left-26 {
  left: 26px !important;
}

.left-26 {
  left: 26px !important;
}

.right {
  right: 26px !important;
}

.mb26 {
  margin-bottom: 26px !important;
}

.ml26 {
  margin-left: 26px !important;
}

.pt26 {
  padding-top: 26px !important;
}

.pr26 {
  padding-right: 26px !important;
}

.pb26 {
  padding-bottom: 26px !important;
}

.pl26 {
  padding-left: 26px !important;
}

.mt27 {
  margin-top: 27px !important;
}

.rounded-27 {
  border-radius: 27px !important;
}

.gap-27 {
  gap: 27px !important;
}

.mr27 {
  margin-right: 27px !important;
}

.left-27 {
  left: 27px !important;
}

.left-27 {
  left: 27px !important;
}

.right {
  right: 27px !important;
}

.mb27 {
  margin-bottom: 27px !important;
}

.ml27 {
  margin-left: 27px !important;
}

.pt27 {
  padding-top: 27px !important;
}

.pr27 {
  padding-right: 27px !important;
}

.pb27 {
  padding-bottom: 27px !important;
}

.pl27 {
  padding-left: 27px !important;
}

.mt28 {
  margin-top: 28px !important;
}

.rounded-28 {
  border-radius: 28px !important;
}

.gap-28 {
  gap: 28px !important;
}

.mr28 {
  margin-right: 28px !important;
}

.left-28 {
  left: 28px !important;
}

.left-28 {
  left: 28px !important;
}

.right {
  right: 28px !important;
}

.mb28 {
  margin-bottom: 28px !important;
}

.ml28 {
  margin-left: 28px !important;
}

.pt28 {
  padding-top: 28px !important;
}

.pr28 {
  padding-right: 28px !important;
}

.pb28 {
  padding-bottom: 28px !important;
}

.pl28 {
  padding-left: 28px !important;
}

.mt29 {
  margin-top: 29px !important;
}

.rounded-29 {
  border-radius: 29px !important;
}

.gap-29 {
  gap: 29px !important;
}

.mr29 {
  margin-right: 29px !important;
}

.left-29 {
  left: 29px !important;
}

.left-29 {
  left: 29px !important;
}

.right {
  right: 29px !important;
}

.mb29 {
  margin-bottom: 29px !important;
}

.ml29 {
  margin-left: 29px !important;
}

.pt29 {
  padding-top: 29px !important;
}

.pr29 {
  padding-right: 29px !important;
}

.pb29 {
  padding-bottom: 29px !important;
}

.pl29 {
  padding-left: 29px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.rounded-30 {
  border-radius: 30px !important;
}

.gap-30 {
  gap: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.left-30 {
  left: 30px !important;
}

.left-30 {
  left: 30px !important;
}

.right {
  right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.mt31 {
  margin-top: 31px !important;
}

.rounded-31 {
  border-radius: 31px !important;
}

.gap-31 {
  gap: 31px !important;
}

.mr31 {
  margin-right: 31px !important;
}

.left-31 {
  left: 31px !important;
}

.left-31 {
  left: 31px !important;
}

.right {
  right: 31px !important;
}

.mb31 {
  margin-bottom: 31px !important;
}

.ml31 {
  margin-left: 31px !important;
}

.pt31 {
  padding-top: 31px !important;
}

.pr31 {
  padding-right: 31px !important;
}

.pb31 {
  padding-bottom: 31px !important;
}

.pl31 {
  padding-left: 31px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.rounded-32 {
  border-radius: 32px !important;
}

.gap-32 {
  gap: 32px !important;
}

.mr32 {
  margin-right: 32px !important;
}

.left-32 {
  left: 32px !important;
}

.left-32 {
  left: 32px !important;
}

.right {
  right: 32px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.ml32 {
  margin-left: 32px !important;
}

.pt32 {
  padding-top: 32px !important;
}

.pr32 {
  padding-right: 32px !important;
}

.pb32 {
  padding-bottom: 32px !important;
}

.pl32 {
  padding-left: 32px !important;
}

.mt33 {
  margin-top: 33px !important;
}

.rounded-33 {
  border-radius: 33px !important;
}

.gap-33 {
  gap: 33px !important;
}

.mr33 {
  margin-right: 33px !important;
}

.left-33 {
  left: 33px !important;
}

.left-33 {
  left: 33px !important;
}

.right {
  right: 33px !important;
}

.mb33 {
  margin-bottom: 33px !important;
}

.ml33 {
  margin-left: 33px !important;
}

.pt33 {
  padding-top: 33px !important;
}

.pr33 {
  padding-right: 33px !important;
}

.pb33 {
  padding-bottom: 33px !important;
}

.pl33 {
  padding-left: 33px !important;
}

.mt34 {
  margin-top: 34px !important;
}

.rounded-34 {
  border-radius: 34px !important;
}

.gap-34 {
  gap: 34px !important;
}

.mr34 {
  margin-right: 34px !important;
}

.left-34 {
  left: 34px !important;
}

.left-34 {
  left: 34px !important;
}

.right {
  right: 34px !important;
}

.mb34 {
  margin-bottom: 34px !important;
}

.ml34 {
  margin-left: 34px !important;
}

.pt34 {
  padding-top: 34px !important;
}

.pr34 {
  padding-right: 34px !important;
}

.pb34 {
  padding-bottom: 34px !important;
}

.pl34 {
  padding-left: 34px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.rounded-35 {
  border-radius: 35px !important;
}

.gap-35 {
  gap: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.left-35 {
  left: 35px !important;
}

.left-35 {
  left: 35px !important;
}

.right {
  right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.mt36 {
  margin-top: 36px !important;
}

.rounded-36 {
  border-radius: 36px !important;
}

.gap-36 {
  gap: 36px !important;
}

.mr36 {
  margin-right: 36px !important;
}

.left-36 {
  left: 36px !important;
}

.left-36 {
  left: 36px !important;
}

.right {
  right: 36px !important;
}

.mb36 {
  margin-bottom: 36px !important;
}

.ml36 {
  margin-left: 36px !important;
}

.pt36 {
  padding-top: 36px !important;
}

.pr36 {
  padding-right: 36px !important;
}

.pb36 {
  padding-bottom: 36px !important;
}

.pl36 {
  padding-left: 36px !important;
}

.mt37 {
  margin-top: 37px !important;
}

.rounded-37 {
  border-radius: 37px !important;
}

.gap-37 {
  gap: 37px !important;
}

.mr37 {
  margin-right: 37px !important;
}

.left-37 {
  left: 37px !important;
}

.left-37 {
  left: 37px !important;
}

.right {
  right: 37px !important;
}

.mb37 {
  margin-bottom: 37px !important;
}

.ml37 {
  margin-left: 37px !important;
}

.pt37 {
  padding-top: 37px !important;
}

.pr37 {
  padding-right: 37px !important;
}

.pb37 {
  padding-bottom: 37px !important;
}

.pl37 {
  padding-left: 37px !important;
}

.mt38 {
  margin-top: 38px !important;
}

.rounded-38 {
  border-radius: 38px !important;
}

.gap-38 {
  gap: 38px !important;
}

.mr38 {
  margin-right: 38px !important;
}

.left-38 {
  left: 38px !important;
}

.left-38 {
  left: 38px !important;
}

.right {
  right: 38px !important;
}

.mb38 {
  margin-bottom: 38px !important;
}

.ml38 {
  margin-left: 38px !important;
}

.pt38 {
  padding-top: 38px !important;
}

.pr38 {
  padding-right: 38px !important;
}

.pb38 {
  padding-bottom: 38px !important;
}

.pl38 {
  padding-left: 38px !important;
}

.mt39 {
  margin-top: 39px !important;
}

.rounded-39 {
  border-radius: 39px !important;
}

.gap-39 {
  gap: 39px !important;
}

.mr39 {
  margin-right: 39px !important;
}

.left-39 {
  left: 39px !important;
}

.left-39 {
  left: 39px !important;
}

.right {
  right: 39px !important;
}

.mb39 {
  margin-bottom: 39px !important;
}

.ml39 {
  margin-left: 39px !important;
}

.pt39 {
  padding-top: 39px !important;
}

.pr39 {
  padding-right: 39px !important;
}

.pb39 {
  padding-bottom: 39px !important;
}

.pl39 {
  padding-left: 39px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.rounded-40 {
  border-radius: 40px !important;
}

.gap-40 {
  gap: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.left-40 {
  left: 40px !important;
}

.left-40 {
  left: 40px !important;
}

.right {
  right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.mt41 {
  margin-top: 41px !important;
}

.rounded-41 {
  border-radius: 41px !important;
}

.gap-41 {
  gap: 41px !important;
}

.mr41 {
  margin-right: 41px !important;
}

.left-41 {
  left: 41px !important;
}

.left-41 {
  left: 41px !important;
}

.right {
  right: 41px !important;
}

.mb41 {
  margin-bottom: 41px !important;
}

.ml41 {
  margin-left: 41px !important;
}

.pt41 {
  padding-top: 41px !important;
}

.pr41 {
  padding-right: 41px !important;
}

.pb41 {
  padding-bottom: 41px !important;
}

.pl41 {
  padding-left: 41px !important;
}

.mt42 {
  margin-top: 42px !important;
}

.rounded-42 {
  border-radius: 42px !important;
}

.gap-42 {
  gap: 42px !important;
}

.mr42 {
  margin-right: 42px !important;
}

.left-42 {
  left: 42px !important;
}

.left-42 {
  left: 42px !important;
}

.right {
  right: 42px !important;
}

.mb42 {
  margin-bottom: 42px !important;
}

.ml42 {
  margin-left: 42px !important;
}

.pt42 {
  padding-top: 42px !important;
}

.pr42 {
  padding-right: 42px !important;
}

.pb42 {
  padding-bottom: 42px !important;
}

.pl42 {
  padding-left: 42px !important;
}

.mt43 {
  margin-top: 43px !important;
}

.rounded-43 {
  border-radius: 43px !important;
}

.gap-43 {
  gap: 43px !important;
}

.mr43 {
  margin-right: 43px !important;
}

.left-43 {
  left: 43px !important;
}

.left-43 {
  left: 43px !important;
}

.right {
  right: 43px !important;
}

.mb43 {
  margin-bottom: 43px !important;
}

.ml43 {
  margin-left: 43px !important;
}

.pt43 {
  padding-top: 43px !important;
}

.pr43 {
  padding-right: 43px !important;
}

.pb43 {
  padding-bottom: 43px !important;
}

.pl43 {
  padding-left: 43px !important;
}

.mt44 {
  margin-top: 44px !important;
}

.rounded-44 {
  border-radius: 44px !important;
}

.gap-44 {
  gap: 44px !important;
}

.mr44 {
  margin-right: 44px !important;
}

.left-44 {
  left: 44px !important;
}

.left-44 {
  left: 44px !important;
}

.right {
  right: 44px !important;
}

.mb44 {
  margin-bottom: 44px !important;
}

.ml44 {
  margin-left: 44px !important;
}

.pt44 {
  padding-top: 44px !important;
}

.pr44 {
  padding-right: 44px !important;
}

.pb44 {
  padding-bottom: 44px !important;
}

.pl44 {
  padding-left: 44px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.rounded-45 {
  border-radius: 45px !important;
}

.gap-45 {
  gap: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.left-45 {
  left: 45px !important;
}

.left-45 {
  left: 45px !important;
}

.right {
  right: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.mt46 {
  margin-top: 46px !important;
}

.rounded-46 {
  border-radius: 46px !important;
}

.gap-46 {
  gap: 46px !important;
}

.mr46 {
  margin-right: 46px !important;
}

.left-46 {
  left: 46px !important;
}

.left-46 {
  left: 46px !important;
}

.right {
  right: 46px !important;
}

.mb46 {
  margin-bottom: 46px !important;
}

.ml46 {
  margin-left: 46px !important;
}

.pt46 {
  padding-top: 46px !important;
}

.pr46 {
  padding-right: 46px !important;
}

.pb46 {
  padding-bottom: 46px !important;
}

.pl46 {
  padding-left: 46px !important;
}

.mt47 {
  margin-top: 47px !important;
}

.rounded-47 {
  border-radius: 47px !important;
}

.gap-47 {
  gap: 47px !important;
}

.mr47 {
  margin-right: 47px !important;
}

.left-47 {
  left: 47px !important;
}

.left-47 {
  left: 47px !important;
}

.right {
  right: 47px !important;
}

.mb47 {
  margin-bottom: 47px !important;
}

.ml47 {
  margin-left: 47px !important;
}

.pt47 {
  padding-top: 47px !important;
}

.pr47 {
  padding-right: 47px !important;
}

.pb47 {
  padding-bottom: 47px !important;
}

.pl47 {
  padding-left: 47px !important;
}

.mt48 {
  margin-top: 48px !important;
}

.rounded-48 {
  border-radius: 48px !important;
}

.gap-48 {
  gap: 48px !important;
}

.mr48 {
  margin-right: 48px !important;
}

.left-48 {
  left: 48px !important;
}

.left-48 {
  left: 48px !important;
}

.right {
  right: 48px !important;
}

.mb48 {
  margin-bottom: 48px !important;
}

.ml48 {
  margin-left: 48px !important;
}

.pt48 {
  padding-top: 48px !important;
}

.pr48 {
  padding-right: 48px !important;
}

.pb48 {
  padding-bottom: 48px !important;
}

.pl48 {
  padding-left: 48px !important;
}

.mt49 {
  margin-top: 49px !important;
}

.rounded-49 {
  border-radius: 49px !important;
}

.gap-49 {
  gap: 49px !important;
}

.mr49 {
  margin-right: 49px !important;
}

.left-49 {
  left: 49px !important;
}

.left-49 {
  left: 49px !important;
}

.right {
  right: 49px !important;
}

.mb49 {
  margin-bottom: 49px !important;
}

.ml49 {
  margin-left: 49px !important;
}

.pt49 {
  padding-top: 49px !important;
}

.pr49 {
  padding-right: 49px !important;
}

.pb49 {
  padding-bottom: 49px !important;
}

.pl49 {
  padding-left: 49px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.rounded-50 {
  border-radius: 50px !important;
}

.gap-50 {
  gap: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.left-50 {
  left: 50px !important;
}

.left-50 {
  left: 50px !important;
}

.right {
  right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.mt51 {
  margin-top: 51px !important;
}

.rounded-51 {
  border-radius: 51px !important;
}

.gap-51 {
  gap: 51px !important;
}

.mr51 {
  margin-right: 51px !important;
}

.left-51 {
  left: 51px !important;
}

.left-51 {
  left: 51px !important;
}

.right {
  right: 51px !important;
}

.mb51 {
  margin-bottom: 51px !important;
}

.ml51 {
  margin-left: 51px !important;
}

.pt51 {
  padding-top: 51px !important;
}

.pr51 {
  padding-right: 51px !important;
}

.pb51 {
  padding-bottom: 51px !important;
}

.pl51 {
  padding-left: 51px !important;
}

.mt52 {
  margin-top: 52px !important;
}

.rounded-52 {
  border-radius: 52px !important;
}

.gap-52 {
  gap: 52px !important;
}

.mr52 {
  margin-right: 52px !important;
}

.left-52 {
  left: 52px !important;
}

.left-52 {
  left: 52px !important;
}

.right {
  right: 52px !important;
}

.mb52 {
  margin-bottom: 52px !important;
}

.ml52 {
  margin-left: 52px !important;
}

.pt52 {
  padding-top: 52px !important;
}

.pr52 {
  padding-right: 52px !important;
}

.pb52 {
  padding-bottom: 52px !important;
}

.pl52 {
  padding-left: 52px !important;
}

.mt53 {
  margin-top: 53px !important;
}

.rounded-53 {
  border-radius: 53px !important;
}

.gap-53 {
  gap: 53px !important;
}

.mr53 {
  margin-right: 53px !important;
}

.left-53 {
  left: 53px !important;
}

.left-53 {
  left: 53px !important;
}

.right {
  right: 53px !important;
}

.mb53 {
  margin-bottom: 53px !important;
}

.ml53 {
  margin-left: 53px !important;
}

.pt53 {
  padding-top: 53px !important;
}

.pr53 {
  padding-right: 53px !important;
}

.pb53 {
  padding-bottom: 53px !important;
}

.pl53 {
  padding-left: 53px !important;
}

.mt54 {
  margin-top: 54px !important;
}

.rounded-54 {
  border-radius: 54px !important;
}

.gap-54 {
  gap: 54px !important;
}

.mr54 {
  margin-right: 54px !important;
}

.left-54 {
  left: 54px !important;
}

.left-54 {
  left: 54px !important;
}

.right {
  right: 54px !important;
}

.mb54 {
  margin-bottom: 54px !important;
}

.ml54 {
  margin-left: 54px !important;
}

.pt54 {
  padding-top: 54px !important;
}

.pr54 {
  padding-right: 54px !important;
}

.pb54 {
  padding-bottom: 54px !important;
}

.pl54 {
  padding-left: 54px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.rounded-55 {
  border-radius: 55px !important;
}

.gap-55 {
  gap: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.left-55 {
  left: 55px !important;
}

.left-55 {
  left: 55px !important;
}

.right {
  right: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.mt56 {
  margin-top: 56px !important;
}

.rounded-56 {
  border-radius: 56px !important;
}

.gap-56 {
  gap: 56px !important;
}

.mr56 {
  margin-right: 56px !important;
}

.left-56 {
  left: 56px !important;
}

.left-56 {
  left: 56px !important;
}

.right {
  right: 56px !important;
}

.mb56 {
  margin-bottom: 56px !important;
}

.ml56 {
  margin-left: 56px !important;
}

.pt56 {
  padding-top: 56px !important;
}

.pr56 {
  padding-right: 56px !important;
}

.pb56 {
  padding-bottom: 56px !important;
}

.pl56 {
  padding-left: 56px !important;
}

.mt57 {
  margin-top: 57px !important;
}

.rounded-57 {
  border-radius: 57px !important;
}

.gap-57 {
  gap: 57px !important;
}

.mr57 {
  margin-right: 57px !important;
}

.left-57 {
  left: 57px !important;
}

.left-57 {
  left: 57px !important;
}

.right {
  right: 57px !important;
}

.mb57 {
  margin-bottom: 57px !important;
}

.ml57 {
  margin-left: 57px !important;
}

.pt57 {
  padding-top: 57px !important;
}

.pr57 {
  padding-right: 57px !important;
}

.pb57 {
  padding-bottom: 57px !important;
}

.pl57 {
  padding-left: 57px !important;
}

.mt58 {
  margin-top: 58px !important;
}

.rounded-58 {
  border-radius: 58px !important;
}

.gap-58 {
  gap: 58px !important;
}

.mr58 {
  margin-right: 58px !important;
}

.left-58 {
  left: 58px !important;
}

.left-58 {
  left: 58px !important;
}

.right {
  right: 58px !important;
}

.mb58 {
  margin-bottom: 58px !important;
}

.ml58 {
  margin-left: 58px !important;
}

.pt58 {
  padding-top: 58px !important;
}

.pr58 {
  padding-right: 58px !important;
}

.pb58 {
  padding-bottom: 58px !important;
}

.pl58 {
  padding-left: 58px !important;
}

.mt59 {
  margin-top: 59px !important;
}

.rounded-59 {
  border-radius: 59px !important;
}

.gap-59 {
  gap: 59px !important;
}

.mr59 {
  margin-right: 59px !important;
}

.left-59 {
  left: 59px !important;
}

.left-59 {
  left: 59px !important;
}

.right {
  right: 59px !important;
}

.mb59 {
  margin-bottom: 59px !important;
}

.ml59 {
  margin-left: 59px !important;
}

.pt59 {
  padding-top: 59px !important;
}

.pr59 {
  padding-right: 59px !important;
}

.pb59 {
  padding-bottom: 59px !important;
}

.pl59 {
  padding-left: 59px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.rounded-60 {
  border-radius: 60px !important;
}

.gap-60 {
  gap: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.left-60 {
  left: 60px !important;
}

.left-60 {
  left: 60px !important;
}

.right {
  right: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.mt61 {
  margin-top: 61px !important;
}

.rounded-61 {
  border-radius: 61px !important;
}

.gap-61 {
  gap: 61px !important;
}

.mr61 {
  margin-right: 61px !important;
}

.left-61 {
  left: 61px !important;
}

.left-61 {
  left: 61px !important;
}

.right {
  right: 61px !important;
}

.mb61 {
  margin-bottom: 61px !important;
}

.ml61 {
  margin-left: 61px !important;
}

.pt61 {
  padding-top: 61px !important;
}

.pr61 {
  padding-right: 61px !important;
}

.pb61 {
  padding-bottom: 61px !important;
}

.pl61 {
  padding-left: 61px !important;
}

.mt62 {
  margin-top: 62px !important;
}

.rounded-62 {
  border-radius: 62px !important;
}

.gap-62 {
  gap: 62px !important;
}

.mr62 {
  margin-right: 62px !important;
}

.left-62 {
  left: 62px !important;
}

.left-62 {
  left: 62px !important;
}

.right {
  right: 62px !important;
}

.mb62 {
  margin-bottom: 62px !important;
}

.ml62 {
  margin-left: 62px !important;
}

.pt62 {
  padding-top: 62px !important;
}

.pr62 {
  padding-right: 62px !important;
}

.pb62 {
  padding-bottom: 62px !important;
}

.pl62 {
  padding-left: 62px !important;
}

.mt63 {
  margin-top: 63px !important;
}

.rounded-63 {
  border-radius: 63px !important;
}

.gap-63 {
  gap: 63px !important;
}

.mr63 {
  margin-right: 63px !important;
}

.left-63 {
  left: 63px !important;
}

.left-63 {
  left: 63px !important;
}

.right {
  right: 63px !important;
}

.mb63 {
  margin-bottom: 63px !important;
}

.ml63 {
  margin-left: 63px !important;
}

.pt63 {
  padding-top: 63px !important;
}

.pr63 {
  padding-right: 63px !important;
}

.pb63 {
  padding-bottom: 63px !important;
}

.pl63 {
  padding-left: 63px !important;
}

.mt64 {
  margin-top: 64px !important;
}

.rounded-64 {
  border-radius: 64px !important;
}

.gap-64 {
  gap: 64px !important;
}

.mr64 {
  margin-right: 64px !important;
}

.left-64 {
  left: 64px !important;
}

.left-64 {
  left: 64px !important;
}

.right {
  right: 64px !important;
}

.mb64 {
  margin-bottom: 64px !important;
}

.ml64 {
  margin-left: 64px !important;
}

.pt64 {
  padding-top: 64px !important;
}

.pr64 {
  padding-right: 64px !important;
}

.pb64 {
  padding-bottom: 64px !important;
}

.pl64 {
  padding-left: 64px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.rounded-65 {
  border-radius: 65px !important;
}

.gap-65 {
  gap: 65px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.left-65 {
  left: 65px !important;
}

.left-65 {
  left: 65px !important;
}

.right {
  right: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.mt66 {
  margin-top: 66px !important;
}

.rounded-66 {
  border-radius: 66px !important;
}

.gap-66 {
  gap: 66px !important;
}

.mr66 {
  margin-right: 66px !important;
}

.left-66 {
  left: 66px !important;
}

.left-66 {
  left: 66px !important;
}

.right {
  right: 66px !important;
}

.mb66 {
  margin-bottom: 66px !important;
}

.ml66 {
  margin-left: 66px !important;
}

.pt66 {
  padding-top: 66px !important;
}

.pr66 {
  padding-right: 66px !important;
}

.pb66 {
  padding-bottom: 66px !important;
}

.pl66 {
  padding-left: 66px !important;
}

.mt67 {
  margin-top: 67px !important;
}

.rounded-67 {
  border-radius: 67px !important;
}

.gap-67 {
  gap: 67px !important;
}

.mr67 {
  margin-right: 67px !important;
}

.left-67 {
  left: 67px !important;
}

.left-67 {
  left: 67px !important;
}

.right {
  right: 67px !important;
}

.mb67 {
  margin-bottom: 67px !important;
}

.ml67 {
  margin-left: 67px !important;
}

.pt67 {
  padding-top: 67px !important;
}

.pr67 {
  padding-right: 67px !important;
}

.pb67 {
  padding-bottom: 67px !important;
}

.pl67 {
  padding-left: 67px !important;
}

.mt68 {
  margin-top: 68px !important;
}

.rounded-68 {
  border-radius: 68px !important;
}

.gap-68 {
  gap: 68px !important;
}

.mr68 {
  margin-right: 68px !important;
}

.left-68 {
  left: 68px !important;
}

.left-68 {
  left: 68px !important;
}

.right {
  right: 68px !important;
}

.mb68 {
  margin-bottom: 68px !important;
}

.ml68 {
  margin-left: 68px !important;
}

.pt68 {
  padding-top: 68px !important;
}

.pr68 {
  padding-right: 68px !important;
}

.pb68 {
  padding-bottom: 68px !important;
}

.pl68 {
  padding-left: 68px !important;
}

.mt69 {
  margin-top: 69px !important;
}

.rounded-69 {
  border-radius: 69px !important;
}

.gap-69 {
  gap: 69px !important;
}

.mr69 {
  margin-right: 69px !important;
}

.left-69 {
  left: 69px !important;
}

.left-69 {
  left: 69px !important;
}

.right {
  right: 69px !important;
}

.mb69 {
  margin-bottom: 69px !important;
}

.ml69 {
  margin-left: 69px !important;
}

.pt69 {
  padding-top: 69px !important;
}

.pr69 {
  padding-right: 69px !important;
}

.pb69 {
  padding-bottom: 69px !important;
}

.pl69 {
  padding-left: 69px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.rounded-70 {
  border-radius: 70px !important;
}

.gap-70 {
  gap: 70px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.left-70 {
  left: 70px !important;
}

.left-70 {
  left: 70px !important;
}

.right {
  right: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.mt71 {
  margin-top: 71px !important;
}

.rounded-71 {
  border-radius: 71px !important;
}

.gap-71 {
  gap: 71px !important;
}

.mr71 {
  margin-right: 71px !important;
}

.left-71 {
  left: 71px !important;
}

.left-71 {
  left: 71px !important;
}

.right {
  right: 71px !important;
}

.mb71 {
  margin-bottom: 71px !important;
}

.ml71 {
  margin-left: 71px !important;
}

.pt71 {
  padding-top: 71px !important;
}

.pr71 {
  padding-right: 71px !important;
}

.pb71 {
  padding-bottom: 71px !important;
}

.pl71 {
  padding-left: 71px !important;
}

.mt72 {
  margin-top: 72px !important;
}

.rounded-72 {
  border-radius: 72px !important;
}

.gap-72 {
  gap: 72px !important;
}

.mr72 {
  margin-right: 72px !important;
}

.left-72 {
  left: 72px !important;
}

.left-72 {
  left: 72px !important;
}

.right {
  right: 72px !important;
}

.mb72 {
  margin-bottom: 72px !important;
}

.ml72 {
  margin-left: 72px !important;
}

.pt72 {
  padding-top: 72px !important;
}

.pr72 {
  padding-right: 72px !important;
}

.pb72 {
  padding-bottom: 72px !important;
}

.pl72 {
  padding-left: 72px !important;
}

.mt73 {
  margin-top: 73px !important;
}

.rounded-73 {
  border-radius: 73px !important;
}

.gap-73 {
  gap: 73px !important;
}

.mr73 {
  margin-right: 73px !important;
}

.left-73 {
  left: 73px !important;
}

.left-73 {
  left: 73px !important;
}

.right {
  right: 73px !important;
}

.mb73 {
  margin-bottom: 73px !important;
}

.ml73 {
  margin-left: 73px !important;
}

.pt73 {
  padding-top: 73px !important;
}

.pr73 {
  padding-right: 73px !important;
}

.pb73 {
  padding-bottom: 73px !important;
}

.pl73 {
  padding-left: 73px !important;
}

.mt74 {
  margin-top: 74px !important;
}

.rounded-74 {
  border-radius: 74px !important;
}

.gap-74 {
  gap: 74px !important;
}

.mr74 {
  margin-right: 74px !important;
}

.left-74 {
  left: 74px !important;
}

.left-74 {
  left: 74px !important;
}

.right {
  right: 74px !important;
}

.mb74 {
  margin-bottom: 74px !important;
}

.ml74 {
  margin-left: 74px !important;
}

.pt74 {
  padding-top: 74px !important;
}

.pr74 {
  padding-right: 74px !important;
}

.pb74 {
  padding-bottom: 74px !important;
}

.pl74 {
  padding-left: 74px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.rounded-75 {
  border-radius: 75px !important;
}

.gap-75 {
  gap: 75px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.left-75 {
  left: 75px !important;
}

.left-75 {
  left: 75px !important;
}

.right {
  right: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.mt76 {
  margin-top: 76px !important;
}

.rounded-76 {
  border-radius: 76px !important;
}

.gap-76 {
  gap: 76px !important;
}

.mr76 {
  margin-right: 76px !important;
}

.left-76 {
  left: 76px !important;
}

.left-76 {
  left: 76px !important;
}

.right {
  right: 76px !important;
}

.mb76 {
  margin-bottom: 76px !important;
}

.ml76 {
  margin-left: 76px !important;
}

.pt76 {
  padding-top: 76px !important;
}

.pr76 {
  padding-right: 76px !important;
}

.pb76 {
  padding-bottom: 76px !important;
}

.pl76 {
  padding-left: 76px !important;
}

.mt77 {
  margin-top: 77px !important;
}

.rounded-77 {
  border-radius: 77px !important;
}

.gap-77 {
  gap: 77px !important;
}

.mr77 {
  margin-right: 77px !important;
}

.left-77 {
  left: 77px !important;
}

.left-77 {
  left: 77px !important;
}

.right {
  right: 77px !important;
}

.mb77 {
  margin-bottom: 77px !important;
}

.ml77 {
  margin-left: 77px !important;
}

.pt77 {
  padding-top: 77px !important;
}

.pr77 {
  padding-right: 77px !important;
}

.pb77 {
  padding-bottom: 77px !important;
}

.pl77 {
  padding-left: 77px !important;
}

.mt78 {
  margin-top: 78px !important;
}

.rounded-78 {
  border-radius: 78px !important;
}

.gap-78 {
  gap: 78px !important;
}

.mr78 {
  margin-right: 78px !important;
}

.left-78 {
  left: 78px !important;
}

.left-78 {
  left: 78px !important;
}

.right {
  right: 78px !important;
}

.mb78 {
  margin-bottom: 78px !important;
}

.ml78 {
  margin-left: 78px !important;
}

.pt78 {
  padding-top: 78px !important;
}

.pr78 {
  padding-right: 78px !important;
}

.pb78 {
  padding-bottom: 78px !important;
}

.pl78 {
  padding-left: 78px !important;
}

.mt79 {
  margin-top: 79px !important;
}

.rounded-79 {
  border-radius: 79px !important;
}

.gap-79 {
  gap: 79px !important;
}

.mr79 {
  margin-right: 79px !important;
}

.left-79 {
  left: 79px !important;
}

.left-79 {
  left: 79px !important;
}

.right {
  right: 79px !important;
}

.mb79 {
  margin-bottom: 79px !important;
}

.ml79 {
  margin-left: 79px !important;
}

.pt79 {
  padding-top: 79px !important;
}

.pr79 {
  padding-right: 79px !important;
}

.pb79 {
  padding-bottom: 79px !important;
}

.pl79 {
  padding-left: 79px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.rounded-80 {
  border-radius: 80px !important;
}

.gap-80 {
  gap: 80px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.left-80 {
  left: 80px !important;
}

.left-80 {
  left: 80px !important;
}

.right {
  right: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.mt81 {
  margin-top: 81px !important;
}

.rounded-81 {
  border-radius: 81px !important;
}

.gap-81 {
  gap: 81px !important;
}

.mr81 {
  margin-right: 81px !important;
}

.left-81 {
  left: 81px !important;
}

.left-81 {
  left: 81px !important;
}

.right {
  right: 81px !important;
}

.mb81 {
  margin-bottom: 81px !important;
}

.ml81 {
  margin-left: 81px !important;
}

.pt81 {
  padding-top: 81px !important;
}

.pr81 {
  padding-right: 81px !important;
}

.pb81 {
  padding-bottom: 81px !important;
}

.pl81 {
  padding-left: 81px !important;
}

.mt82 {
  margin-top: 82px !important;
}

.rounded-82 {
  border-radius: 82px !important;
}

.gap-82 {
  gap: 82px !important;
}

.mr82 {
  margin-right: 82px !important;
}

.left-82 {
  left: 82px !important;
}

.left-82 {
  left: 82px !important;
}

.right {
  right: 82px !important;
}

.mb82 {
  margin-bottom: 82px !important;
}

.ml82 {
  margin-left: 82px !important;
}

.pt82 {
  padding-top: 82px !important;
}

.pr82 {
  padding-right: 82px !important;
}

.pb82 {
  padding-bottom: 82px !important;
}

.pl82 {
  padding-left: 82px !important;
}

.mt83 {
  margin-top: 83px !important;
}

.rounded-83 {
  border-radius: 83px !important;
}

.gap-83 {
  gap: 83px !important;
}

.mr83 {
  margin-right: 83px !important;
}

.left-83 {
  left: 83px !important;
}

.left-83 {
  left: 83px !important;
}

.right {
  right: 83px !important;
}

.mb83 {
  margin-bottom: 83px !important;
}

.ml83 {
  margin-left: 83px !important;
}

.pt83 {
  padding-top: 83px !important;
}

.pr83 {
  padding-right: 83px !important;
}

.pb83 {
  padding-bottom: 83px !important;
}

.pl83 {
  padding-left: 83px !important;
}

.mt84 {
  margin-top: 84px !important;
}

.rounded-84 {
  border-radius: 84px !important;
}

.gap-84 {
  gap: 84px !important;
}

.mr84 {
  margin-right: 84px !important;
}

.left-84 {
  left: 84px !important;
}

.left-84 {
  left: 84px !important;
}

.right {
  right: 84px !important;
}

.mb84 {
  margin-bottom: 84px !important;
}

.ml84 {
  margin-left: 84px !important;
}

.pt84 {
  padding-top: 84px !important;
}

.pr84 {
  padding-right: 84px !important;
}

.pb84 {
  padding-bottom: 84px !important;
}

.pl84 {
  padding-left: 84px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.rounded-85 {
  border-radius: 85px !important;
}

.gap-85 {
  gap: 85px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.left-85 {
  left: 85px !important;
}

.left-85 {
  left: 85px !important;
}

.right {
  right: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pl85 {
  padding-left: 85px !important;
}

.mt86 {
  margin-top: 86px !important;
}

.rounded-86 {
  border-radius: 86px !important;
}

.gap-86 {
  gap: 86px !important;
}

.mr86 {
  margin-right: 86px !important;
}

.left-86 {
  left: 86px !important;
}

.left-86 {
  left: 86px !important;
}

.right {
  right: 86px !important;
}

.mb86 {
  margin-bottom: 86px !important;
}

.ml86 {
  margin-left: 86px !important;
}

.pt86 {
  padding-top: 86px !important;
}

.pr86 {
  padding-right: 86px !important;
}

.pb86 {
  padding-bottom: 86px !important;
}

.pl86 {
  padding-left: 86px !important;
}

.mt87 {
  margin-top: 87px !important;
}

.rounded-87 {
  border-radius: 87px !important;
}

.gap-87 {
  gap: 87px !important;
}

.mr87 {
  margin-right: 87px !important;
}

.left-87 {
  left: 87px !important;
}

.left-87 {
  left: 87px !important;
}

.right {
  right: 87px !important;
}

.mb87 {
  margin-bottom: 87px !important;
}

.ml87 {
  margin-left: 87px !important;
}

.pt87 {
  padding-top: 87px !important;
}

.pr87 {
  padding-right: 87px !important;
}

.pb87 {
  padding-bottom: 87px !important;
}

.pl87 {
  padding-left: 87px !important;
}

.mt88 {
  margin-top: 88px !important;
}

.rounded-88 {
  border-radius: 88px !important;
}

.gap-88 {
  gap: 88px !important;
}

.mr88 {
  margin-right: 88px !important;
}

.left-88 {
  left: 88px !important;
}

.left-88 {
  left: 88px !important;
}

.right {
  right: 88px !important;
}

.mb88 {
  margin-bottom: 88px !important;
}

.ml88 {
  margin-left: 88px !important;
}

.pt88 {
  padding-top: 88px !important;
}

.pr88 {
  padding-right: 88px !important;
}

.pb88 {
  padding-bottom: 88px !important;
}

.pl88 {
  padding-left: 88px !important;
}

.mt89 {
  margin-top: 89px !important;
}

.rounded-89 {
  border-radius: 89px !important;
}

.gap-89 {
  gap: 89px !important;
}

.mr89 {
  margin-right: 89px !important;
}

.left-89 {
  left: 89px !important;
}

.left-89 {
  left: 89px !important;
}

.right {
  right: 89px !important;
}

.mb89 {
  margin-bottom: 89px !important;
}

.ml89 {
  margin-left: 89px !important;
}

.pt89 {
  padding-top: 89px !important;
}

.pr89 {
  padding-right: 89px !important;
}

.pb89 {
  padding-bottom: 89px !important;
}

.pl89 {
  padding-left: 89px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.rounded-90 {
  border-radius: 90px !important;
}

.gap-90 {
  gap: 90px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.left-90 {
  left: 90px !important;
}

.left-90 {
  left: 90px !important;
}

.right {
  right: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.mt91 {
  margin-top: 91px !important;
}

.rounded-91 {
  border-radius: 91px !important;
}

.gap-91 {
  gap: 91px !important;
}

.mr91 {
  margin-right: 91px !important;
}

.left-91 {
  left: 91px !important;
}

.left-91 {
  left: 91px !important;
}

.right {
  right: 91px !important;
}

.mb91 {
  margin-bottom: 91px !important;
}

.ml91 {
  margin-left: 91px !important;
}

.pt91 {
  padding-top: 91px !important;
}

.pr91 {
  padding-right: 91px !important;
}

.pb91 {
  padding-bottom: 91px !important;
}

.pl91 {
  padding-left: 91px !important;
}

.mt92 {
  margin-top: 92px !important;
}

.rounded-92 {
  border-radius: 92px !important;
}

.gap-92 {
  gap: 92px !important;
}

.mr92 {
  margin-right: 92px !important;
}

.left-92 {
  left: 92px !important;
}

.left-92 {
  left: 92px !important;
}

.right {
  right: 92px !important;
}

.mb92 {
  margin-bottom: 92px !important;
}

.ml92 {
  margin-left: 92px !important;
}

.pt92 {
  padding-top: 92px !important;
}

.pr92 {
  padding-right: 92px !important;
}

.pb92 {
  padding-bottom: 92px !important;
}

.pl92 {
  padding-left: 92px !important;
}

.mt93 {
  margin-top: 93px !important;
}

.rounded-93 {
  border-radius: 93px !important;
}

.gap-93 {
  gap: 93px !important;
}

.mr93 {
  margin-right: 93px !important;
}

.left-93 {
  left: 93px !important;
}

.left-93 {
  left: 93px !important;
}

.right {
  right: 93px !important;
}

.mb93 {
  margin-bottom: 93px !important;
}

.ml93 {
  margin-left: 93px !important;
}

.pt93 {
  padding-top: 93px !important;
}

.pr93 {
  padding-right: 93px !important;
}

.pb93 {
  padding-bottom: 93px !important;
}

.pl93 {
  padding-left: 93px !important;
}

.mt94 {
  margin-top: 94px !important;
}

.rounded-94 {
  border-radius: 94px !important;
}

.gap-94 {
  gap: 94px !important;
}

.mr94 {
  margin-right: 94px !important;
}

.left-94 {
  left: 94px !important;
}

.left-94 {
  left: 94px !important;
}

.right {
  right: 94px !important;
}

.mb94 {
  margin-bottom: 94px !important;
}

.ml94 {
  margin-left: 94px !important;
}

.pt94 {
  padding-top: 94px !important;
}

.pr94 {
  padding-right: 94px !important;
}

.pb94 {
  padding-bottom: 94px !important;
}

.pl94 {
  padding-left: 94px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.rounded-95 {
  border-radius: 95px !important;
}

.gap-95 {
  gap: 95px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.left-95 {
  left: 95px !important;
}

.left-95 {
  left: 95px !important;
}

.right {
  right: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pl95 {
  padding-left: 95px !important;
}

.mt96 {
  margin-top: 96px !important;
}

.rounded-96 {
  border-radius: 96px !important;
}

.gap-96 {
  gap: 96px !important;
}

.mr96 {
  margin-right: 96px !important;
}

.left-96 {
  left: 96px !important;
}

.left-96 {
  left: 96px !important;
}

.right {
  right: 96px !important;
}

.mb96 {
  margin-bottom: 96px !important;
}

.ml96 {
  margin-left: 96px !important;
}

.pt96 {
  padding-top: 96px !important;
}

.pr96 {
  padding-right: 96px !important;
}

.pb96 {
  padding-bottom: 96px !important;
}

.pl96 {
  padding-left: 96px !important;
}

.mt97 {
  margin-top: 97px !important;
}

.rounded-97 {
  border-radius: 97px !important;
}

.gap-97 {
  gap: 97px !important;
}

.mr97 {
  margin-right: 97px !important;
}

.left-97 {
  left: 97px !important;
}

.left-97 {
  left: 97px !important;
}

.right {
  right: 97px !important;
}

.mb97 {
  margin-bottom: 97px !important;
}

.ml97 {
  margin-left: 97px !important;
}

.pt97 {
  padding-top: 97px !important;
}

.pr97 {
  padding-right: 97px !important;
}

.pb97 {
  padding-bottom: 97px !important;
}

.pl97 {
  padding-left: 97px !important;
}

.mt98 {
  margin-top: 98px !important;
}

.rounded-98 {
  border-radius: 98px !important;
}

.gap-98 {
  gap: 98px !important;
}

.mr98 {
  margin-right: 98px !important;
}

.left-98 {
  left: 98px !important;
}

.left-98 {
  left: 98px !important;
}

.right {
  right: 98px !important;
}

.mb98 {
  margin-bottom: 98px !important;
}

.ml98 {
  margin-left: 98px !important;
}

.pt98 {
  padding-top: 98px !important;
}

.pr98 {
  padding-right: 98px !important;
}

.pb98 {
  padding-bottom: 98px !important;
}

.pl98 {
  padding-left: 98px !important;
}

.mt99 {
  margin-top: 99px !important;
}

.rounded-99 {
  border-radius: 99px !important;
}

.gap-99 {
  gap: 99px !important;
}

.mr99 {
  margin-right: 99px !important;
}

.left-99 {
  left: 99px !important;
}

.left-99 {
  left: 99px !important;
}

.right {
  right: 99px !important;
}

.mb99 {
  margin-bottom: 99px !important;
}

.ml99 {
  margin-left: 99px !important;
}

.pt99 {
  padding-top: 99px !important;
}

.pr99 {
  padding-right: 99px !important;
}

.pb99 {
  padding-bottom: 99px !important;
}

.pl99 {
  padding-left: 99px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.rounded-100 {
  border-radius: 100px !important;
}

.gap-100 {
  gap: 100px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.left-100 {
  left: 100px !important;
}

.left-100 {
  left: 100px !important;
}

.right {
  right: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.rounded-50 {
  border-radius: 50% !important;
}

.wh100, .page-container {
  width: 100%;
  height: 100%;
}

.YouSheBiaoTiHei {
  font-family: YouSheBiaoTiHei;
}

.filterText {
  writing-mode: horizontal-tb;
  user-select: text;
  text-orientation: upright;
  word-spacing: 0px;
  letter-spacing: 0px;
}

.m-auto {
  margin: auto;
}

.t-center {
  text-align: center;
}

.flex1 {
  flex: 1;
}

.posZero {
  left: 0;
  top: 0;
}

.pos50, .posCenter {
  left: 50%;
  top: 50%;
}

.posZeroB {
  bottom: 0;
  left: 0;
}

.posCenter {
  transform: translate(-50%, -50%);
}

.posLCenter {
  left: 50%;
  transform: translateX(-50%);
}

.posTCenter {
  top: 50%;
  transform: translateY(-50%);
}

.page-container {
  padding: 15px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-y::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-y::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-y::-webkit-scrollbar-thumb {
  background-color: rgba(65, 123, 214, 0.3);
  border-radius: 4px;
}

.scroll-y::-webkit-scrollbar-thumb:hover {
  background-color: rgba(65, 123, 214, 0.6);
}

.scroll-x {
  overflow-x: auto;
}

.scroll-x::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll-x::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-x::-webkit-scrollbar-thumb {
  background-color: rgba(65, 123, 214, 0.3);
  border-radius: 4px;
}

.scroll-x::-webkit-scrollbar-thumb:hover {
  background-color: rgba(65, 123, 214, 0.6);
}
